<h1> Introduction/Business Problem

Without a doubt, gun violence in the US has become a huge problem in the past couple decades, effecting hundreds of thousands nationwide.  This project is seeking to explore the areas affected within the last year (2019) and determining which areas tend to be more at risk.

I am going to use the FourSquare API to search the top venues around each area the cluster them into groups to see how many end up in each cluster.  Then I'll additionally overlay that data with per capita income rates of each state/county in the country.

<h1> Data

1. The Gun Violence Archive contains public datasets containing the metadata of each mass shooting for every year, including location, time, and number of casualities.  
    1. https://www.gunviolencearchive.org/reports/mass-shooting
    
    
2. Wikipedia has a list of the per capita incomes by state and county for all states (mostly seperate for counties), and I will aggregate this data to make a choropleth map underlaying the clusters of shootings in recent months.
    1. https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_income#States_and_territories_ranked_by_per_capita_income

In [1]:
import pandas as pd
import numpy as np
import folium
import geocoder

In [2]:
df = pd.read_csv('2019_Shootings.csv')
df

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,"December 29, 2019",Illinois,Danville,1803 block of Westview Ave,0,5,NaN
1,"December 29, 2019",New York,Buffalo,50 block of Henrietta Ave,1,3,NaN
2,"December 29, 2019",California,Ceres,800 block of Allacante Dr,0,5,NaN
3,"December 27, 2019",California,Modesto,1900 block of Vernon Ave,1,3,NaN
4,"December 27, 2019",Georgia,Kennesaw,1575 Ridenour Pkwy NW,0,4,NaN
...,...,...,...,...,...,...,...
412,"January 4, 2019",California,Torrance,22501 Hawthorne Blvd,3,4,NaN
413,"January 3, 2019",Arizona,Yuma,3800 block of E. County 18½ St,1,3,NaN
414,"January 2, 2019",Arkansas,Jonesboro,3516 Galaxy St,1,3,NaN
415,"January 1, 2019",South Carolina,Columbia,1709 Decker Blvd,0,5,NaN
416,"January 1, 2019",Florida,Tallahassee,2020 W Pensacola St,0,5,NaN

I'm going to drop the 'Operations' and 'Address' columns, because they aren't necessary for my analysis

In [3]:
df = df.drop(['Address', 'Operations'], axis=1)
df

         Incident Date           State City Or County  # Killed  # Injured
0    December 29, 2019        Illinois       Danville         0          5
1    December 29, 2019        New York        Buffalo         1          3
2    December 29, 2019      California          Ceres         0          5
3    December 27, 2019      California        Modesto         1          3
4    December 27, 2019         Georgia       Kennesaw         0          4
..                 ...             ...            ...       ...        ...
412    January 4, 2019      California       Torrance         3          4
413    January 3, 2019         Arizona           Yuma         1          3
414    January 2, 2019        Arkansas      Jonesboro         1          3
415    January 1, 2019  South Carolina       Columbia         0          5
416    January 1, 2019         Florida    Tallahassee         0          5

[417 rows x 5 columns]

In [6]:
df = df.groupby(['State'], inplace=True)

AttributeError: Cannot access callable attribute 'groupby' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [ ]:
df